div.left {float:left;}
div.raty-target {background-color:#f0f0f0;border-radius:3px;float:left;height:15px;margin-left:5px;padding-bottom:2px;padding-left:8px;padding-right:8px;text-align:center;width:50px;}
div.raty-target-number {float:left;margin-right:5px;margin-top:2px; }
